# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
.env/
.venv/
*.egg-info/
dist/
build/

# Flask / web
instance/
*.sqlite3
uploads/

# IDEs / Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Mac / Linux temp files
*.swp
*~
/models
/vector_store